ion-content.background{
    --background: url(../../assets/img/background.gif) 0 0/100% 100% no-repeat;
    padding-bottom: 0 !important;
}

.content{
    position: center;
    margin-top: 200px;
    margin-right: 30px;
    margin-left: 30px;
}

.buttons-action{
    margin-left: 5px;
}

.signup-text{
    font-size: x-small;
    color: black;
    text-align:center;
    font-family: "Nunito", sans-serif;
    text-transform: none;
}

.signin-text{
    font-size: small;
    color: black;
    text-align: center;
    font-family: "Nunito", sans-serif;
    text-transform: none;
}

ion-input{
    background-color: #ededed;
    border-radius: 5px;
    font-size: small;
}

.actionbutton{
    background-color: turquoise;
    color: black;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 13px;
    font-size: small;
    font-family:"Nunito", san-serif;
}

ion-checkbox{
    background: #a04eff;
    border-radius: 5px;
    --height: 10px;
    --width: 10px;
    --checkmark-color: white;
    --background-checked: #a04eff;
    --border-color: #a04eff;
}

.line{
    border-bottom: 1px solid grey;
    margin-bottom: 16px;
}

.fbutton{
    background-color: #3b5998;
    color: cornsilk;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 13px;
    font-family: "Nunito", san-serif;
    text-transform: none;
}

.googlebutton{
    background-color: #ea4335;
    color: cornsilk;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 13px;
    font-family: "Nunito", san-serif;
    text-transform: none;
}

